header {
    background-color:#3F4F8A ;
}

header img {
    height: 40px;
    width: 40px;
}
nav {
  display: flex;
justify-content:space-between ;
}

ul {
    display: flex;
   justify-content: space-between;
    width: 400px;
    list-style-type: none;

}

a {
    color: white;
    text-decoration: none;
}

main {
    background-color:#3F4F8A;
color: white;
}
section {
    display: flex;
    
}
.imagem-maior {
    height: 300px;
    width: 357px;
}

.imagem-menor {
    height:206px ;
    width: 439px ;
}